.firstSectionContainer {
  justify-content: space-around;
}

.firstSectionItemDark {
  border: 1px solid rgb(65, 65, 65) !important;
  background-color: rgb(28, 28, 28) !important;
  border-radius: 3px !important;
  padding: 10px 20px !important;
}
.firstSectionItemLight {
  border: 1px solid #DADADA !important;
  background-color: #FCFCFC !important;
  border-radius: 3px !important;
  padding: 10px 20px !important;
}

.section {
  padding-top: 32px;
  justify-content: center;
}

.sectionTwoItems {
  display: "flex";
  flex-direction: "row";
  justify-content: "center";
}

.tableHeader {
  font-weight: bold !important;
  color: white !important;
  border: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 2px !important;
  text-align: center !important;
  padding-top: 0 !important;
}
.tableHeaderLight {
  font-weight: bold !important;
  color: black !important;
  border: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 2px !important;
  text-align: center !important;
  padding-top: 0 !important;
}

.tableBody {
  color: white !important;
  font-size: 12px !important;
  border: 0px !important;
  text-align: center !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
}
.tableBodyLight {
  color: #757474 !important;
  font-size: 12px !important;
  border: 0px !important;
  text-align: center !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
}
@media screen and (max-width: 500px) {
  .firstSectionContainer {
    justify-content: space-between;
  }

  .sectionTwoItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .firstSectionItem {
    flex-basis: calc(33% - 20px) !important;
    padding: 0px 20px !important;
  }
  .firstSectionHeadings {
    font-size: 9px;
    /* padding:20px 10px!important; */
    /* letter-spacing: 1px; */
  }
  .tableHeader {
    padding: 0 !important;
  }
  .tableBody {
    padding: 10px 3px !important;
  }

  /* .sectionTwoItems{
        font-size: 9px;
    } */
}
