.socialIcons{
    order: 1;
}

.logo{
    order:2;
}

.connectButtonContain{
    order: 3;
    text-align: right;
    cursor: pointer;
}

.connectButton:hover{
    background-color: #545454;
}

.connectButtonLight:hover{
    background-color: #54545447;
}

.MuiSwitch-root{
    position: fixed!important;
    right: 5px;
    bottom: 13px;
}

.layoutHeading{
    margin-bottom: 30px;
    
}
.tableHeader {
  font-weight: bold !important;
  /* color: white !important; */
  border: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 2px !important;
  text-align: center !important;
  padding-top: 0 !important;
  margin:10px;
}

.layoutSubHeading{
    font-weight: bold;
    margin-top: 0px;
    letter-spacing: 3px;
}

.childContainer{
    padding: 32px 20px;
}

.tabarText:hover{
    color: #C66065!important;
}

.socialIcon:hover{
    color: #C66065!important;
}

@media  screen and (max-width: 599px){
    .socialIcons{
        order: 2;
        text-align: center;
    }
    
    .logo{
        order:1;
    }
    
    .connectButton{
        order: 3;
        text-align: center;
        padding-top: 15px;
    }
    
    .layoutHeading{
        padding: 20px 20px 0px;
        font-size: 18px;
        
        text-align: center;
    }
    .layoutSubHeading{
        font-size: 9px;
        padding: 0px 30px 10px;    
    }
    .tabarText{
        font-size: 12px;
    }
    .childContainer{
        padding: 32px 5px;
    }
    .connectButtonContain{
        text-align: center;
    }
}